.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
webpack.config.js
node_modules/
**/*.map
**/*.ts
timewalk-core-master/**
timewalk-core/**